{% extends 'full-page.html' %}
{% block content %}
	<div class="jumbotron home-jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animated bounceInLeft v-align">
					<h3>Star Features</h3>
					<div class="list-group" style="color:#006687; opacity:0.6;">
						<a href="#" class="list-group-item">
						<h3>Levels</h3> 
						<p>Let members gain <strong>XP</strong> and <strong>levels</strong> by participating in the chat!</p> 
						</a>
						<a href="#" class="list-group-item">
						<h3>Commands</h3>
						<p>Let members use <strong>commands</strong> to interact with the bot!</p>
						</a>
					</div>
				</div><!--
				--><div class="col-md-6 text-center animated bounceInRight v-align">
					<h2>Who made this?</h2>
					<img src="https://github.com/GNZTMPZ.png" style="width: 128px;" class="img-circle"><br />
					<p>Hi, I'm <strong>Matt</strong>.<br /> known as GNZTMPZ everywhere. <br>Stay Kungkingkang and Stay
						Spiritual 🙏 </p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
