<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav pull-left">
		<li><a href="{{url_for('about')}}"><i class="fa fa-question"></i> About</a></li>
		<li><a target="_blank" href="https://intern.gnztmpz.eu.org"><i class="fa fa-support"></i> Support</a></li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><a href="https://discord.gg/mxkvjpknTN" target="_blank" style="padding-left:5px; padding-right:5px;"><i class="icon-discord"></i></a></li>
		<li><a href="http://github.com/wholesomeland" target="_blank" style="padding-left:5px; padding-right:5px;"><i class="fa fa-github"></i></a></li>
	</ul>
</div>
