{% extends 'base.html' %}
{% block content %}
	<div class="jumbotron dashboard-jumbotron">
		<div class="container">
			<div class="row vertical-align">
				<div class="col-md-12">
						<img style="width:100px; margin:15px;" class="img-circle" src="{{ url_for('static', filename='image/WarungInternational.png') }}">
					<h2>
						<small style="color:#74C4D4;">Leaderboards</small><br />
						Warung International</h2>
				</div>
			</div>
		</div>
	</div>
	{% block dash_content %}
	{% endblock %}
{% endblock %}
